<head>
  <link rel="shortcut icon" href="/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon" />
</head>
<header style="box-shadow: 1px 1px 3px #555;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="box-shadow: 1px 1px 3px #555;border-radius: 5px;">
      <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGzUotJOvoWqQ/company-logo_200_200/0?e=2159024400&v=beta&t=w0nvC11ocNbAP8ZNcbqKMBp1YqLzGFEh5dEDn5vOB9o" alt="Orange" width="30px" height="30px" style="margin-right: 10px;">
      <a class="navbar-brand" href="insights">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link disabled" href="#" style="color:rgb(240, 127, 21);">Bonjour, bienvenue!</a>
          <div class="btn-group">
            <a href="insights" class="btn btn-primary active" aria-current="page">Accueil</a>
            <a href="prevision" class="btn btn-primary">Prévision</a>
            <a href="map" class="btn btn-primary">MapViz</a>
          </div>
          <a href="http://localhost:4200" class="btn btn-warning" style="margin-left: 5px;">Déconnexion</a>
        </div>
      </div>
    </nav>
</header>

