<app-header></app-header>
<body>
    <div class="row" style="height: 100px;">
    </div>
    <div class="row">
        <div class="col-md-2" style="padding-left: 50px;">
            <div class="btn btn-primary disabled" style="width: 100%; height: 40px; text-align: left; margin-bottom: 5px;">Points noirs 4G</div>
            <div class="btn btn-primary" href="map" style="width: 100%; height: 40px; text-align: left; margin-bottom: 5px;">Points noirs 4G HTN</div>
            <div class="btn btn-primary disabled" style="width: 100%; height: 40px; text-align: left; margin-bottom: 5px;">Points noirs 3G</div>
            <div class="btn btn-primary disabled" style="width: 100%; height: 40px; text-align: left;">Points noirs 3G HTN</div>
        </div>
        <div class="col-md-9">
            <div id="map" style="height: 650px; width: 100%;align-content: center; box-shadow: 1px 1px 3px #555;"></div>
        </div>
    </div>
    <div class="row" style="height: 50px;">
    </div>
</body>
<app-footer style="bottom: 0px;"></app-footer>
