<app-header></app-header>
<body>
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 3%; background-color: white; margin-right: 15px; box-shadow: 1px 1px 3px #555;border-radius: 5px;">
            <div id="data"></div>
        </div>
        <div class="col-md-5" style="margin-top: 3%; background-color: white; box-shadow: 1px 1px 3px #555;border-radius: 5px;">
            <div id="voix"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 2%; background-color: white; margin-right: 15px; box-shadow: 1px 1px 3px rgb(85, 85, 85);border-radius: 5px;">
            <div id="poids_data"></div>
        </div>
        <div class="col-md-5" style="margin-top: 2%; background-color: white;">
            <div id="poids_datam"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 2%; background-color: white; margin-right: 15px; box-shadow: 1px 1px 3px rgb(85, 85, 85);border-radius: 5px;">
            <div id="poids_voix"></div>
        </div>
        <div class="col-md-5" style="margin-top: 2%; background-color: white; ">
            <div id="poids_voixm"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="height: 50px;"></div>
</body>
<app-footer style="bottom: 0px;"></app-footer>
